@import 'partials/setup';

html{
	font-size: 62.5%;
}

body{
	background: url(../assets/SMPTE_Color_Bars.png);
	font-family: 'Lateef', cursive;
	font-size: 1.6rem;
	text-align: center;
	color: #fff;
}

.capitalize{
	text-transform: capitalize;
}

.wrapper{
	max-width:800px;
	width: 80%;
	margin: 0 auto;

}

h1, h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

h1{
	font-size:4rem;
}

h2{
	font-size:2rem;
	margin-bottom: 40px;
}

p{
	font-size: 2.8rem;
	font-weight: bolder;
}

a{
	color:#fff;
	&:hover{
		color:magenta;
	}
}

.tv{
	position: relative;
	margin-top: 0;
	border: 10px solid black;
	border-radius: 10px;
	padding: 80px 10px;
	color: #fff;
	background: blue;
	box-shadow: 0px 0px 100px #ccc;
}

.tv-response{
	position: relative;
	margin-top:0;
	border: 10px solid black;
	border-radius: 10px;
	padding: 80px 10px;
	color: blue;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: bottom right;
	a{
		display: inline-block;
		padding: 5px 10px;
		background-color: blue;
		color:#fff;
		margin: 5px;
		text-align: center;
		text-decoration: none;
		font-size: 1.6rem;
	}
	p{
		padding: 2%;
		background: rgba(255,255,255,0.7);
		border-radius: 3px;
		box-shadow: 1px 1px 3px #ccc;
	}
}

.fave-show{
	width: 70%;
	margin: 0 auto;
	}

.results-info{
	width: 100%;
	margin: 0 auto;
}

form{
	width: 100%;
	margin:0 auto;
	letter-spacing: .1rem;
	input{
		width: 100%;
		margin-bottom: 10px;
		height: 40px;
		}
	}

input[type=text]{
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	color:blue;
}

input[type=submit]{
	background: blue;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: .5rem;
	border-style: none;
	border: 3px solid white;
	color:white;
}

input[type=submit]:hover, input[type=submit]:focus{
		border: 3px solid blue;
		background: white;
		color:blue;
	}

footer{
	position: absolute;
	width: 100%;
	background-color: #000;
	bottom: 0;
	z-index: 10;
	p{
		padding: 10px 0;
		margin: 0;
	}
}


//media queries

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	h1{
		font-size:3rem;
	}

	h2{
		font-size:1.8rem;
	}

	.tv-response p{
		padding: 2%;
		background: rgba(255,255,255,0.7);
		border-radius: 3px;
		box-shadow: 1px 1px 3px #ccc;
	}

	.fave-show{
		width: 80%;
		margin: 0 auto;
	}

	input[type=submit]{
		font-size: 1.2rem;
		letter-spacing: .1rem;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h1{
		margin-top: 20px;
		font-size:2.8rem;
	}

	h2{
		font-size:1.4rem;
		margin-bottom: 30px;
	}

	p{
		font-size: 2.4rem;
		font-weight: bolder;
	}


	#trapezoid{
			display: none;
		}


	.tv h2{
		font-size:1.4rem;
	}

	.fave-show{
		width: 90%;
		margin: 0 auto;
		}

	input[type=text]{
		font-size:1.4rem;
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	h1{
		font-size:2rem;
		margin-top: 2rem;
	}

	p{
		font-size: 2.2rem;
		font-weight: bolder;
	}

	.tv{
			margin-top:40px;
	}

	input[type=submit]{
		font-size: 1rem;
		letter-spacing: .1rem;
	}

	footer p{
		font-size: 1.4rem;
	}

}

