article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: url(../assets/SMPTE_Color_Bars.png);
  font-family: 'Lateef', cursive;
  font-size: 1.6rem;
  text-align: center;
  color: #fff; }

.capitalize {
  text-transform: capitalize; }

.wrapper {
  max-width: 800px;
  width: 80%;
  margin: 0 auto; }

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem;
  margin-bottom: 40px; }

p {
  font-size: 2.8rem;
  font-weight: bolder; }

a {
  color: #fff; }
  a:hover {
    color: magenta; }

.tv {
  position: relative;
  margin-top: 0;
  border: 10px solid black;
  border-radius: 10px;
  padding: 80px 10px;
  color: #fff;
  background: blue;
  -webkit-box-shadow: 0px 0px 100px #ccc;
  box-shadow: 0px 0px 100px #ccc; }

.tv-response {
  position: relative;
  margin-top: 0;
  border: 10px solid black;
  border-radius: 10px;
  padding: 80px 10px;
  color: blue;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: bottom right; }
  .tv-response a {
    display: inline-block;
    padding: 5px 10px;
    background-color: blue;
    color: #fff;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem; }
  .tv-response p {
    padding: 2%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc; }

.fave-show {
  width: 70%;
  margin: 0 auto; }

.results-info {
  width: 100%;
  margin: 0 auto; }

form {
  width: 100%;
  margin: 0 auto;
  letter-spacing: .1rem; }
  form input {
    width: 100%;
    margin-bottom: 10px;
    height: 40px; }

input[type=text] {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: blue; }

input[type=submit] {
  background: blue;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .5rem;
  border-style: none;
  border: 3px solid white;
  color: white; }

input[type=submit]:hover, input[type=submit]:focus {
  border: 3px solid blue;
  background: white;
  color: blue; }

footer {
  position: absolute;
  width: 100%;
  background-color: #000;
  bottom: 0;
  z-index: 10; }
  footer p {
    padding: 10px 0;
    margin: 0; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 1.8rem; }
  .tv-response p {
    padding: 2%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc; }
  .fave-show {
    width: 80%;
    margin: 0 auto; }
  input[type=submit] {
    font-size: 1.2rem;
    letter-spacing: .1rem; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    margin-top: 20px;
    font-size: 2.8rem; }
  h2 {
    font-size: 1.4rem;
    margin-bottom: 30px; }
  p {
    font-size: 2.4rem;
    font-weight: bolder; }
  #trapezoid {
    display: none; }
  .tv h2 {
    font-size: 1.4rem; }
  .fave-show {
    width: 90%;
    margin: 0 auto; }
  input[type=text] {
    font-size: 1.4rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
    margin-top: 2rem; }
  p {
    font-size: 2.2rem;
    font-weight: bolder; }
  .tv {
    margin-top: 40px; }
  input[type=submit] {
    font-size: 1rem;
    letter-spacing: .1rem; }
  footer p {
    font-size: 1.4rem; } }
