@import 'partials/setup';

html{
	font-size: 62.5%;
}

body{
	background: url(../assets/static.gif);
	font-family: 'Lateef', cursive;
	font-size: 1.6rem;
	text-align: center;
	color: #fff;
}

.capitalize{
	text-transform: capitalize;
}

.wrapper{
	max-width:800px;
	width: 80%;
	margin: 0 auto;

}

h1, h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin: 2% 0;
}

h1{
	font-size:4rem;
}

h2{
	font-size:2rem;
}

p{
	font-size: 2.8rem;
	font-weight: bolder;
}

.tv{
	position: relative;
	margin-top: 0;
	border: 10px solid black;
	border-radius: 10px;
	padding: 16% 9%;
	color: #fff;
	background: blue;
	#trapezoid{
		position: absolute;
		bottom: -65px;
		left: 35%;
		border-bottom: 50px solid black;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		height: 0;
		width: 220px;
	}
}

.tv-response{
	position: relative;
	margin-top:0;
	border: 10px solid black;
	border-radius: 10px;
	padding: 16% 9%;
	color: blue;
	background: url(../assets/mother-theresa.png) no-repeat #fff;
	background-position: bottom right;
}

.fave-show{
	width: 70%;
	margin: 0 auto;
	}

.results-info{
	width: 100%;
	margin: 0 auto;
}

form{
	width: 100%;
	margin:0 auto;
	letter-spacing: .1rem;
	input{
		width: 100%;
		margin-bottom: 10px;
		height: 40px;
		}
	}

input[type=text]{
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	color:blue;
}

input[type=submit]{
	background: blue;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: .5rem;
	border-style: none;
	border: 3px solid white;
	color:white;
}

input[type=submit]:hover, input[type=submit]:focus{
		border: 3px solid blue;
		background: white;
		color:blue;
	}
//media queries

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
h1{
	font-size:3rem;
}

h2{
	font-size:1.8rem;
}

	p{
		padding: 2%;
		background: rgba(255,255,255,0.7);
		border-radius: 3px;
		box-shadow: 1px 1px 3px #ccc;
	}

.fave-show{
	width: 80%;
	margin: 0 auto;
}

input[type=submit]{
	font-size: 1.2rem;
	letter-spacing: .1rem;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
h1{
	font-size:2.8rem;
}

h2{
	font-size:1.4rem;
}

p{
	font-size: 2.4rem;
	font-weight: bolder;
}

.tv{
	padding: 35% 10%;
	#trapezoid{
		display: none;
	}
}

.tv h2{
	font-size:1.4rem;
}

.fave-show{
	width: 90%;
	margin: 0 auto;
	}

input[type=text]{
	font-size:1.4rem;
}

}

/* Landscape phones and down */
@media (max-width: 480px) {
h1{
	font-size:2rem;
	margin-top: 2rem;
}

p{
	font-size: 2.2rem;
	font-weight: bolder;
}

.tv{
		margin-top: 5%;
		padding: 38% 10%;
}

input[type=submit]{
	font-size: 1rem;
	letter-spacing: .1rem;
}

}

